<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>PluginType</key>
			<string>1</string>
			<key>NoOemTableId</key>
			<true/>
			<key>DropOem</key>
			<false/>
			<key>NoDynamicExtract</key>
			<true/>
		</dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>SlpSmiAtWake</key>
			<true/>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change SAT0 to SATA</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>oAqTU1RBUwE=</data>
					<key>Replace</key>
					<data>oAqRCv8L//8=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Fix AsRock Z390 BIOS DSDT Device(RTC) bug</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EC0 to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SF9FQw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change H_EC to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUNEVg==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change ECDV to EC</string>
				</dict>
			</array>
			<key>SuspendOverride</key>
			<true/>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<true/>
				<key>FixRTC</key>
				<false/>
				<key>AddDTGP</key>
				<false/>
				<key>FixUSB</key>
				<false/>
				<key>FixShutdown</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
			</dict>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>HaltEnabler</key>
		<true/>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MATS</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>ApCst</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>ApIst</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MATS</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Secure</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>Debug</key>
		<false/>
		<key>Arguments</key>
		<string>dart=0 -disablegfxfirmware slide=0 nvda_drv=1</string>
		<key>XMPDetection</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>DefaultVolume</key>
		<string>Macintosh HD</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>1</string>
		<key>Mouse</key>
		<dict>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Hide</key>
		<array>
			<string>recovery</string>
			<string>preboot</string>
		</array>
		<key>Language</key>
		<string>zh_CN:0</string>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
		</dict>
	</dict>
	<key>Devices</key>
	<dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<false/>
			<key>Inject</key>
			<integer>5</integer>
		</dict>
		<key>UseIntelHDMI</key>
		<true/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Nothing</string>
	</array>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x12345678</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xE00FE137</string>
		<key>Board-ID</key>
		<string>Mac-BE088AF8C5EB4FA2</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>BiosVersion</key>
		<string>IM183.88Z.0161.B00.1806260901</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>iMac-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x01</string>
		<key>Family</key>
		<string>iMac</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02707405GUF653CB</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>iMac18,3</string>
		<key>SmUUID</key>
		<string>582AEE13-BE58-52D4-8BA3-0862B76DFBF8</string>
		<key>Mobile</key>
		<false/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>140.0.0.0.0</string>
		<key>SerialNumber</key>
		<string>C02T814YJ1GJ</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>06/26/2018</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>NvidiaWeb</key>
		<true/>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>